<div class="about-container">
  <h1>About Face Reality</h1>
  <p class="subtitle">Unraveling the Art of AI-Generated Faces</p>

  <div class="section">
    <p>
      In the rapidly evolving world of artificial intelligence, the ability of
      algorithms to generate human-like faces has reached unprecedented levels
      of realism. Face Reality is a project created to explore the prowess of
      different AI algorithms, gauging their proficiency in crafting lifelike
      human faces. The other half of the project puts us humans, to the test. AI
      image generation will only improve over time. Therefore, discerning
      AI-generated images from real ones is a skill of utmost importance. How
      well can you spot the difference?
    </p>
  </div>

  <div class="section">
    <h2>The AI Contenders</h2>
    <p>
      Our platform evaluates some of the most advanced AI algorithms in the
      realm of GAN image generation, including:
    </p>
    <ul>
      <li>
        <strong>StyleGAN</strong>: Known for its intricate style-based
        generators.
      </li>
      <li>
        <strong>StyleGAN2</strong>: An enhancement of StyleGAN, rectifying some
        of its predecessor's flaws.
      </li>
      <li>
        <strong>ProGAN</strong>: Progressive Growing of GANs, a method that
        scales up from low-resolution images, adding layers that deal with
        increasing detail.
      </li>
    </ul>
  </div>

  <div class="section">
    <h2>The Human Challenge</h2>
    <p>
      While AI continues to advance, the human eye remains a sophisticated tool,
      often able to catch nuances and imperfections that machines overlook.
      Through this project, I invite users to challenge themselves, testing
      their ability to differentiate between AI-generated and real human faces.
    </p>
  </div>

  <div class="section">
    <h2>Tips to Identify AI-Generated Faces</h2>
    <p>
      While AI has made significant strides, there are still some telltale signs
      that can give away an AI-generated face:
    </p>
    <ol>
      <li>
        Asymmetry: Real human faces are rarely perfectly symmetrical.
        AI-generated faces might exhibit perfect symmetry, especially in
        features like eyes or ears.
      </li>
      <li>
        Background Anomalies: Often, AI focuses on the face, leading to
        overlooked or distorted backgrounds.
      </li>
      <li>
        Hair Strands: AI can sometimes struggle with the intricate details of
        hair, leading to unnatural clumps or strands.
      </li>
      <li>
        Eyes & Reflections: The reflections in the eyes might be mismatched or
        may depict unrelated items.
      </li>
      <li>
        Teeth & Mouth: Look for overly consistent teeth or odd interactions
        between lips and teeth.
      </li>
      <li>
        Artefacts & Noise: Tiny imperfections, unusual patterns, or colour
        inconsistencies can be a giveaway.
      </li>
    </ol>
  </div>
</div>
